<template>
	<div>
		<div class="col-sm-8 col-sm-offset-2">										
			<ol id="teacher-list">
				<li v-for="item in subjectsList">
    				{{ item }}
  				</li>
			</ol>
		</div>

		<div class="col-sm-8 col-sm-offset-2">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter a name" ref="subject_name_input">
                <span class="input-group-btn">
                    <button class="btn btn-success btn-outline-secondary" type="button" id="add-teacher" @click="addSubjectsList">Add
                    <!-- <i clas="fa fa-plus"></i> -->
                </button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-sm-8  -->
	</div>
</template>

<script>
    export default {
        data(){
        	return{
        		subjectsList: []
        	}
        },
        methods: {
        	addSubjectsList:function(){
        		if(this.$refs.subject_name_input.value)
        			this.subjectsList.push(this.$refs.subject_name_input.value)
        		this.$refs.subject_name_input.value = ""
        	}
        }
    }
</script>