<template>
	<div>
		<div class="col-sm-8 col-sm-offset-2">										
			<ol id="teacher-list">
				<li v-for="item in teachersList">
    				{{ item }}
  				</li>
			</ol>
		</div>

        <div class="col-sm-8 col-sm-offset-2">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter a name" ref="teacher_name_input">
                <span class="input-group-btn">
                    <button class="btn btn-success btn-outline-secondary" type="button" id="add-teacher" @click="addTeachersList">Add
                    <i class="fa fa-plus"></i>
                </button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-sm-8  -->
	</div>
</template>

<script>
    export default {
        data(){
        	return{
        		teachersList: []
        	}
        },
        methods: {
        	addTeachersList:function(){
        		if(this.$refs.teacher_name_input.value)
        			this.teachersList.push(this.$refs.teacher_name_input.value)
        		this.$refs.teacher_name_input.value = ""
        	}
        }
    }
</script>